.encabezado { background-color:  black;
padding: 1px;
margin-top: 5px;
margin-bottom: 5px;
margin-right: 0%;
width: 100%;}

nav ul li a { text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'ZCOOL KuaiLe', cursive;
color: rgb(238, 227, 227);
font-weight: 300;
font-size: 100%;}

nav ul {display: flex;
    flex-direction: row;
    justify-content:flex-end;
padding: 0%;
margin: 1%;
height: 100%;
width: 100%;}

nav ul li { list-style-type: none;
padding: 10px 40px;
width: 10px 10px;}

.fotoUno {display: flex;
height: 100%;
margin: 0%;}

body{margin: 0px;
    background-image: linear-gradient(#999,#000) ;
display: block;}

article {font-style: normal;
    background-color: #999;
    border: 1px rgb(12, 12, 12);
font-family: sans-serif;
text-align: center;
font-size: 100%;
letter-spacing: 5px;
word-spacing: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-width: 2px;
border-style: dashed;
margin-top: 20px;
margin: 10px;}

#main {display: flex;
    flex-wrap: wrap;
    align-items:center;
align-content: stretch;}

 aside video{
    margin-top: 40px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
padding: 0%;
width: 75% ;}
   
   footer {
     background-color:#111;
     height: 100px;}

     .grid { display: grid;
        background-image:linear-gradient(rgb(71, 120, 148), #999);
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 300px;
        grid-template-areas: "area1 area2 area3";
        column-gap: 60px;
        row-gap: 0px;
        justify-content: space-evenly;
        align-content: stretch;
    border-style: none;}
    

        .gridUno {background-color: gainsboro;
        border-style: solid;
        align-self: center;
    grid-area: area1;}

    .gridUno:hover {height: 100%;
        width: 100%;
        transform: scale(1.2);
        transition: all 2s ;}

    .gridDos {border-style: none;
    grid-area: area2;}  

    .gridDos img{ height: 100%;
        width: 100%;
    background-color: gainsboro ;
border: black;
border-style: solid;}

.gridDos img:hover{height: 100%;
    width: 100%;
    transform:scale(1.5);
    transition: all 2.5s;
transform: rotate(90);}

.gridTres {background-color: #222;
color: blanchedalmond;
border-style: none;
grid-area: area3;
align-self:center;}

.gridTres:hover {height: 90%;
    width: 90%;
    transform: translate(-50px);
    transition: all 2s ;}



